*{
    font-family: "Inter", serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.haytnvox{
    display: none;
}

.anhetacox{
    display: initial;
}

.container{
    padding-right:160px ;
    padding-top: 35px;
    padding-bottom:35px ;
    padding-left:160px ;
}
.btn{
    padding: 16px 64px ;
    border: none;
    border-radius: 6px;
    background: #000;
}

.active{
    color: #000;
    font-size: 16px;
    font-weight: 500px;
}

.wrapper {
    max-width: 70%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    gap: 57px;
}

header .container .burger{
    cursor: pointer;
    display: none;
}

header .search-bar .content{
    display: flex;
    align-items: center;
    gap: 5px;
}

header .search-bar .content {
    background-color: #F5F5F5;
    padding-left: 10px;
}

header .search-bar .content input{
    border: none;
    background-color: #F5F5F5;
    padding: 10px;
}

header .navbar{
    display: flex;
    gap: 52px;
}

header .navbar li a:not(.active){
    color: rgb(150, 150, 150);
    transition: color .3s ease;
}

header .navbar li a:hover{
    color: #000;
}

header .user ul{
    gap: 24px;
    display: flex;
}
.inner{
    display: flex;
gap: 50px;
}
.inner input{
    width: 120px;
}
.price{
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}
.to{
    text-align: end;
}
.search{

    display: flex;
    justify-content: space-between;
}
.search-box{
    display: flex;
    align-items: start;
}
.checkbox .box{
    display: flex;
    align-items: center;
}
.checkbox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.checkbox .box h2{
    font-size: 20px;
    font-weight: 500;
}
.checkbox .box span{
    font-size: 15px;
    margin-left: 5px;
    color: #929292;
}
.battery{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.battery .box{
    border-bottom: .5px solid #B5B5B5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.battery h2{
    font-size: 18px;
    font-weight: 500;
}
footer{
    background: #000;
}

footer .wrapper .box .social{
    margin-top: 185px;
    display: flex;
    gap: 35px;
}

.social2-haytnvox{
    display: flex;
    justify-content: center;
    gap: 25px;
    display: none;
}

footer .wrapper .box ul:not(.social){
    display: flex;
    gap: 8px;
    flex-direction: column;

}

footer .wrapper .box ul li a{
    color: #CFCFCF;
}

footer .wrapper .box p{
    color: #CFCFCF;
}

footer .wrapper .box h2{
    margin-bottom: 8px;
    color: #fff;
}

footer .wrapper {
    padding-top: 105px;
    display: flex;
    justify-content: center;
    gap: 150px;
}

@media (max-width:768px) and (max-width:1024px) {
    .wrapper{
        max-width: 100%;
    }
    .social2-haytnvox{
        display: initial;
        display: flex;
    }
    .haytnvox{
        display: initial;
    }
    .anhetacox{
        display: none;
    }
    .box.anhetacox{
        display: none;
    }
    .container{
        padding: 0px  16px 0px 16px;
    }
    header{
        margin-bottom: 60px;
        justify-content: space-between;
        border-bottom: 1px solid #929292;
    }
    header .wrapper{
        width: 100%;
    }
    header .container{
        padding: 24px 16px;
        display: flex;
        justify-content: space-between;
    }
    header .container .burger{
        display: initial;
    }
    header .search-bar{
        display: none;
    }
    header .navbar{
        display: none;
    }
    header .user{
        display: none;
    }
    .catalog{
        display: none;
    }
    .brand{
        display: none;
    }
    .product{
        justify-content: center;
        gap: 77px;
    }

    .selected .box{
        flex: 0 0 48%;
    }
        .selected .box button{
        padding: 12px 40px;
    }
    footer{
        margin-top: 16px;
    }
    footer .wrapper {
        flex-direction: column;
        justify-content: center;
        gap: 32px;
        text-align: center;
    }
    footer .wrapper .box .social{
        display: none;
    }
}